*{
    padding: 0px;
    margin: 0px;
    
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
/*navbar*/
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-right: 50px;
    font-size: 30px;
    border-bottom: solid black 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/*menu*/
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    list-style: none;
    font-size: 20px;
}
.menuitems{
    color: rgb(87, 87, 255);
}
/*menu toggle*/
.menu-toggle{
        display: none;
        cursor: pointer;
}
/*side navbar*/
.side-navbar{
    width: 50%;
    height: 96%;
    position: fixed;
    background-color: white;
    color: rgb(87, 87, 255);
    padding: 30px;
    top: 0;
    left: -100%;
    transition: 1s;
    
    border-radius: 0 50px 50px  0;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.side-navbar-links{
    list-style: none;    
}
.side-navbar-link{
    color: rgb(87, 87, 255);
    text-decoration: none;
    margin-top: 30px;
    font-size: 25px;
    cursor: pointer;
}
.side-navbar-link:hover{
    text-decoration: underline;
}
/*outerlayer*/
.outerlayer{
    flex-grow: 1;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    z-index: 1;
}
.listlayer {
    width: 35%;
    height: 100%;
    font-size: 25px;
    border-right: solid rgb(70, 70, 70) 3px;
    color: rgb(70, 70, 70);
    
}
.head_list{
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: solid rgb(70, 70, 70) 2px;
    text-align: center;
}

.list_items{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;    
    list-style-type: decimal;
    list-style-position: inside;
    overflow-y: scroll;
    
}
.book_item{
    display: flex;flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    cursor: pointer;
}
.delete-btn{
    background-color: white;
    height: 100%;
    height: 90%;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 15px;
    width: 30px;
    cursor: pointer;
}
.delete-btn .icon {
    font-size: 30px;
}


/*description*/
.briefview{
    width: 65%; 
    height: 100%;  
    color: rgb(70, 70, 70);
    font-size: 25px;
    display: flex;
    flex-direction: column;
}
.decription_box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
    
}
/*add-button*/
.addbutton{
    color: white;
    background-color: rgb(87, 87, 255);
    font-size: 35px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    border: solid #5757ff 3.5px;
    border-radius: 100%;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
    
}

.overlay{
    background-color: black;
    opacity: 0.8;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}
.addpopup-layer{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.addpopup{
    position: fixed;  
    background-color: #f2f2f2;
    display: none;
    flex-direction: column;
    align-items: center;
    color: #5757ff;
    border: solid 2px black ;
    border-radius: 20px;
    opacity: 1;
}
.addpopup h1{
    margin-top: 20px;
}
.addpopup form{
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.title , #description {
    background: transparent;
    width: 300px;
    margin: 25px;
    margin-bottom: 0px;
    margin-top: 20px;
}
.title{
    padding: 2px;
    border: none;
    border-bottom: solid black 2px;
    font-size: 15px;
    height: 30px;
}
#description{
    height: 80px;
}
.title:focus{
    outline: none;
}
.title:hover::placeholder , #description:hover::placeholder{
    color: #5757ff;
}
.addpopup div{
    margin: 25px;
    margin-bottom: 0px;
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.popupbutton{
    color: white;
    border: #5757ff;
    background-color: #5757ff;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}
/*contact */
.outer-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.contact-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid rgb(122, 121, 121) 3px;
    border-radius: 20px;
}
.contact-body h1{
    color: #5757ff;
    margin: 20px;
}   
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.contact-form button{
    color: white;
    background-color: #5757ff;
    border: none;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    margin: 40px;
    width: 150px;

}
.contact-form .form-group{
    background: transparent;
    margin: 25px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 2px;
    border: none;
    border-bottom: solid black 2px;
    width: 250px;
    height: 50px;
}
.contact-form .form-group::placeholder{
    color: rgb(70, 70, 70);
    transition: all 0.3s ease;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.contact-form .form-group:focus::placeholder{
    color: #5757ff;
    padding-bottom: 50px;
}
.contact-form .form-group:focus{
    outline: none;
}
.contact-form textarea{
    margin: 25px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 2px;
    width: 250px;
    height: 100px;
    border: solid black 2px;
}
.contact-form textarea:focus::placeholder{
    color: #5757ff;
    padding-bottom: 50px;
}
.contact-form textarea:focus{
    outline: none;
}



@media screen and (max-width: 600px) {
    /*navbar*/
        .navbar {
            font-size: 20px;
        }
        .menu{
            display: none;
        }
        .menu-toggle{
            display: flex;
        }
    /*outerlayer*/
        .outerlayer{
            display: block;
        }
        .listlayer{
            width: 100%;
            height: 100%;
        }
        .briefview{
            display: none;
        }
    /*addbutton*/
        .addbutton{
            right: 20px;
            left: auto;
        }
}